<li class="nav-item mx-auto d-block d-sm-none">
    <NavLink class="nav-link">

        <SocialIconComponent CssClasses="px-2 text-decoration-none" Href="https://github.com/yvrkarthik/DesignPatterns" CssStyles="color:white;font-size: 2rem;" HrefTarget="_blank" SocialIcon="fab fa-github"></SocialIconComponent>
        <SocialIconComponent CssClasses="px-2 text-decoration-none" Href="https://www.linkedin.com/in/rajivkarthikyanamandra/" CssStyles="color:white;font-size: 2rem;" HrefTarget="_blank" SocialIcon="fab fa-linkedin"></SocialIconComponent>

    </NavLink>
</li>