@page "/"

<strong><h1>Hello, world!</h1></strong>

<p>
    This is a sample application built to demonstrate the implementation of various <strong>design principles and patterns.</strong> 
</p>
<p>
    Use the navigation menu to browse for examples.
</p>

